---
import Html from "~/components/Html/index.astro";
import { Nav } from "~/components/Nav";
import { Body } from "~/components/Body";
import { Main } from "~/components/Main";
import { Footer } from "~/components/Footer";
import { Header } from "~/components/Typography/Header";
import { Paragraph } from "~/components/Typography/Paragraph";
import { ExternalLink } from "~/components/Typography/ExternalLink";
import { GithubIcon } from "~/components/icons/Github";
import { GmailIcon } from "~/components/icons/Gmail";
import { LinkedinIcon } from "~/components/icons/Linkedin";
import { tw } from "~/utils/tw";
import "~/index.css";

const a = tw("group inline-block transition");
const svg = tw(
  "fill-ctext h-8 w-8 p-1 transition",
  "group-focus-visible:fill-cfocus",
  "group-hover:fill-ctextdark group-hover:scale-110",
);
---

<Html
  title="Kevin Amado's Thoughts"
  ogTitle="Kevin Amado's Website"
  description="Information about me, Posts, Opinions, and more."
>
  <Body>
    <Nav client:load current="About" />
    <Main>
      <div class="m-auto max-w-xl text-center">
        <Header>Kevin Amado</Header>
        <Paragraph>
          I'm a Software Engineer based in Calgary, Canada.
          <br />I share in this website some of the things that I do and think
          about.
        </Paragraph>
      </div>

      <aside class="mt-8">
        <div class="m-auto w-fit space-x-8">
          <ExternalLink className={a} to="mailto:kamadorueda@gmail.com">
            <GmailIcon aria-label="Kevin's Email" className={svg} />
          </ExternalLink>
          <ExternalLink className={a} to="https://github.com/kamadorueda">
            <GithubIcon aria-label="Kevin's GitHub profile" className={svg} />
          </ExternalLink>
          <ExternalLink className={a} to="https://linkedin.com/in/kamadorueda">
            <LinkedinIcon
              aria-label="Kevin's LinkedIn profile"
              className={svg}
            />
          </ExternalLink>
        </div>
      </aside>
    </Main>
    <Footer />
  </Body>
</Html>
