---
type OGProps = {
  title: string;
  description: string;
  image?: string;
};

type Props = {
  title: string;
  og: OGProps;
};

const { title, og } = Astro.props;
const profileImage = "https://avatars.githubusercontent.com/u/47480384?v=4";

const ogTitle = og.title || title;
const ogDescription = og.description;
const ogImage = og.image || profileImage;
const ogUrl = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={ogDescription} />
    <link rel="canonical" href={ogUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={ogUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={ogTitle} />
    <meta name="twitter:description" content={ogDescription} />
    <meta name="twitter:image" content={ogImage} />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
      crossorigin
    />
    <link rel="icon" href={profileImage} type="image/x-icon" />
    <script is:inline src="https://www.youtube.com/iframe_api"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
